.bottom-bar {
	display: none;
	position: absolute;
	bottom: 10px;
	height: $menu-bar-height;
	width: 100%;
	background: url('../assets/ui/bar-background.jpg') repeat;

	.contain {
		display: table;
		height: 100%;
		position: relative;
	}

	.chat-input-wrapper,
	.actions-wrapper,
	.my-coke {
		height: $menu-bar-height;
		display: table-cell;
		vertical-align: middle;
	}

	.chat-input-wrapper {
		width: 347px;

		.chat-input {
			height: 26px;
			width: 347px;
			border: 0;
			background-image: url('../assets/ui/chat-background.jpg');
			background-size: 100% 100%;
			padding: 0px 6px 2px 9px;
			box-sizing: border-box;
			font-weight: bold;
			font-size: 12px;

			&:focus {
				outline: 0;
			}
		}
	}

	.actions-wrapper {
		width: 205px;

		ul {
			margin-left: 13px;

			li {
				display: inline-block;
			}
		}

		.action-item {
			display: block;
			line-height: $menu-bar-height;
			width: 20px;
			height: $menu-bar-height;
			position: relative;

			i {
				display: block;
				position: absolute;
				top: calc(50% - 11px);
				left: 0;
				width: 20px;
				height: 20px;
				background-image: url('../assets/ui/bar-actions-ui.png');
				background-repeat: no-repeat;
				background-position-y: -1px;
				overflow: hidden;
			}

			&:hover {
				i {
					background-position-y: -22px;
				}
			}
		}

		.action-item.active {
			i {
				background-position-y: -22px;
			}
		}

		#navigation {

		}

		#message {
			i {
				background-position-x: -21px;
			}
		}

		#decibals {
			i {
    			background-position-x: -42px;
    		}
		}

		#backpack {
			i {
				background-position-x: -63px;
			}
		}

		#catalogue {
			i {
				background-position-x: -84px;
			}
		}

		#music {
			i {
				background-position-x: -105px;
			}
		}

		#help {
			i {
				background-position-x: -126px;
			}
		}

	}

	.my-coke {
		width: 109px;
		position: relative;
		@include no-select();

		img {
			position: absolute;
			width: 109px;
			height: 61px;
			bottom: 0;
			left: 0;
		}
	}
}
